.trip-box {
  position: relative;
  margin-bottom: 30px;
}
.trip-image {
  width: 1150px;
  height: 536px; 
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("path_to_image"); 
}
.trip-title {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-weight: 400;
font-size: 45px;
line-height: 94%;
letter-spacing: -0.04em;
color: #fffef4;
}

.trip-transport-wrapper {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  gap: 2px;

}
.trip-transport {

  border-radius: 100px;
padding: 15px 20px;
/* width: 152px; */
height: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 94%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #181818;
  background: #fff59d;
}
.trip-quantity {
 
  font-weight: 700;
font-size: 16px;
line-height: 94%;
letter-spacing: -0.04em;
text-transform: uppercase;
color: #181818;
background: #fff59d;
}
.trip-passenger {

  display: flex;
  gap: 3px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  padding: 15px 20px;
  width: 77px;
  height: 46px;
  
  background: #fff59d;

}
.trip-passender-image {
  width: 16px;
  height: 12px;
}